name: Docker Image CI
on:
  workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v6.0.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET }}
        aws-region: us-east-1
    - name: Build the Docker image
      run: docker build . --tag 827472626586.dkr.ecr.us-east-1.amazonaws.com/cloud-fn:1.0.0
    - name: Login to Amazon ECR
      run: aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 827472626586.dkr.ecr.us-east-1.amazonaws.com
    - name: Push the Docker image to Amazon ECR
      run: docker push 827472626586.dkr.ecr.us-east-1.amazonaws.com/cloud-fn:1.0.0
